body {
    background-color: rgb(64, 87, 90);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


table {
    background-color: azure;
    border: 1px solid black;
    margin: auto;
    border-collapse:separate;
    border-spacing: 2px;
}

.cell {
    width: 30px;
    height: 30px;
    display:table-cell
}

.cell img {
    width: 25px;
    height: auto;
}

td:empty {
    background-color: gray;
}
.empty {
    background: linear-gradient(to top,  black, white);
}
.shown {    
    background: linear-gradient(to top,  red    , white);
}

.timer {
    color: white;
    font-size: large;
}


 .level-btn {
    background-color: rgb(182, 182, 135);
    height: 20px;
    width: 50px;
    font-size: 8px;
    text-align: center;    
 }
 .restart-btn {
    background-color: rgb(182, 182, 135);
    height: 20px;
    width: 25px;
    font-size: 8px;
    text-align: center;    
 }

 
